* {
  text-align: center;
  font-family: 'Verdana'
}

.to-do-list {
  text-align: center;
  align-items: center;
}

form input, button {
  margin: 0px 5px;
}

ul {
  list-style-type: none;
  width: 50%;
  display: inline-block;
}
